/* IMAGES DE LA CATEGORIE ARCHITECTURE */
.one .child1 {
  background: url(img/architecture/anthony_reungere.jpeg) center center / cover no-repeat;
}
.one .child2 {
  background: url(img/architecture/carousel-joseph-barrientos-UbWhP0J8dsw-unsplash.jpg) center center / cover no-repeat;
}
.one .child3 {
  background: url(img/architecture/etienne_boulanger.jpeg) center center / cover no-repeat;
}
.one .child4 {
  background: url(img/architecture/casey_botticello.jpeg) center center / cover no-repeat;
}
.one .child5 {
  background: url(img/architecture/denys_nevozhai.jpeg) center center / cover no-repeat;
}
.one .child6 {
  background: url(img/architecture/dominik\ dancs.jpeg) center center / cover no-repeat;
}
.two .child1 {
  background: url(img/architecture/huseyin-kaya-dw0OfnBGMb0-unsplash.jpg) center center / cover no-repeat;
}
.two .child2 {
  background: url(img/architecture/jean-wimmerlin-9Lf5XyGUCPM-unsplash.jpg) center center / cover no-repeat;
}
.two .child3 {
  background: url(img/architecture/liam-andrew-W7CopGaHkEM-unsplash.jpg) center center / cover no-repeat;
}
.two .child4 {
  background: url(img/objects/nathan_wright.jpeg) center center / cover no-repeat;
}
.two .child5 {
  background: url(img/objects/taton_moise2.jpeg) center center / cover no-repeat;
}
.two .child6 {
  background: url(img/objects/romain_lohezic.jpeg) center center / cover no-repeat;
}