/* RESET CSS */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  font-size: calc(1vw + 0.7em);
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: #2c5364;
  overflow-x: hidden;
}

.bg-main {
  background: #2c5364;
}

.bg-secondary {
  background: #203a43;
}

.bg-heads {
  background: #0f2027;
}

.bg-main>h2,
.bg-secondary>h2 {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  border-top: solid 1px white;
}

@media screen and (min-width: 768px) {

  .bg-main>h2,
  .bg-secondary>h2 {
    width: 25%;
    min-width: 33%;
    text-align: left;
    white-space: nowrap;
    border-top: none;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 30px;
    font-size: 1.2rem;
  }
}

/* NAVBAR */

/* NAVBAR DESKTOP */
.menu-container {
  color: #fff;
  background-color: #2c5364;
  opacity: 0.9;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  width: 100vw;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.menu a,
.links a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  opacity: 0.9;
}

.links a:hover {
  color: rgba(255, 255, 255, 0.568);
}

.actived a,
.actived {
  color: #c89446;
}

.actived a:hover,
.actived:hover {
  color: #c89446;
}

.menu-right {
  margin-left: 20px;
}

.brand {
  font-family: "Turret Road", cursive;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0px 40px 0px 20px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .menu-container .links {
    display: none;
  }

  .text-auth {
    display: none;
  }
}

.text-auth {
  padding-left: 10px;
}

.menu-auth {
  align-self: center;
  margin: 0 5vw 0 auto;
}

.btn-auth {
  padding: 10px;
  background: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
}

/* navbar mobile */

.contactBtn img {
  width: 60px;
}

a {
  cursor: pointer;
}

/* NAVBAR */
.contactBtn {
  padding: 8px 10px 5px 10px;
  display: flex;
  right: 8px;
  bottom: 8px;
  position: fixed;
  z-index: 200;
  cursor: pointer;
  transition: 0.2s linear all;
}

.contactBtn:hover {
  opacity: 0.7;
}

.btn {
  display: block;
}

.btn.active {
  display: none;
}

.contactOn {
  transition: 0.2s linear all;
  bottom: 8px;
}

.contactOn:hover {
  background-color: #203a43;
  transition: 0.2s linear all;
  bottom: 8px;
  color: white;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #2c5364af;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
}

.overlay-content {
  display: flex;
  bottom: 0;
  align-content: flex-end;
  flex-direction: column-reverse;
  width: 100%;
  text-align: right;
  margin-top: 50px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgba(255, 255, 255, 0.568);
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 50px;
  transform: rotate(90deg);
}

.overlay .closebtn:hover {
  transition: 0.2s linear all;
  transform: rotate(270deg);
}

.overlay ul li a {
  font-size: 1.2rem;
}

.overlay .actived {
  color: #c89446;
}

.overlay a .actived:hover {
  color: #c89446;
}

ul div {
  position: absolute;
  top: 40%;
  bottom: 55px;
  transform: rotate(270deg);
}

ul div li {
  position: relative;
}

@media screen and (min-width: 766px) {
  .contactBtn {
    display: none;
  }
}

/* CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  height: 33vh;
}

.track_wrapper {
  position: relative;
  height: 100%;

}

.track_container {
  height: 100%;
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slides_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons-lr {
  position: absolute;
  z-index: 10000;
  border: 0;
  background-color: white;
  color: #203a43;
  font-size: 2rem;
  padding: 0.1em;


}

.button-left {
  width: 50px;
  height: 70px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button-right {
  width: 50px;
  height: 70px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel_nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dots {
  background-color: #203a43;
  margin: 0.5em;
  width: 40px;
  height: 10px;
}

.carousel_nav .current-slide {
  background-color: #aebfc7;
}

.carousel_button {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}


/* start first-one
.slides-container {
  position: relative;
  padding-top: 4.9rem;
}

.slides-img {
  width: 100%;
  object-fit: cover;
  touch-action: pan-x;
} */

@media screen and (min-width: 766px) {

  .carousel {
    height: 100vh;
  }

  .slides-img {
    height: 100vh;
  }

  .slides-container {
    padding: 0;
  }
}

.carousel_button {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 766px) {
  .slides-img {
    height: 100vh;
  }
}

end first-one */
/* CONCEPT */

.about-container {
  height: max-content;
  padding: 30px 0;
  opacity: 1;
}

.about-container>.about-text {
  font-size: 1rem;
  color: white;
  text-align: justify;
}

.about-text {
  padding: 0 30px 30px 30px;
}

/*  Desktop */
@media screen and (min-width: 768px) {
  .about-container {
    opacity: 0;
    padding: 100px 0;
    transform: translateX(0px);
    transition: 0.7s all ease-in;
  }

  .about-container>.about-text {
    font-size: 0.875rem;
  }

  .about-appear {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* PARTNERS */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: max-content;
  align-content: center;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.7s all ease-in;
}

.card {
  border-radius: 5px;
  transition: 0.3s;
  background: white;
  height: max-content;
  width: min-content;
  max-width: 365px;
  text-align: center;
  margin: 20px;

}

.card-appear {
  opacity: 1;
  transform: translateX(0px);
}

.card>img {
  position: relative;
}

.img-description {
  position: relative;
  font-size: 12px;
  padding: 10px 25px;
  text-align: justify;
  white-space: normal;
}

.card-item {
  text-align: left;
  padding: 25px;
}

.card-item>p {
  font-size: 14px;
  word-wrap: break-word;
}

.card-item>h4 {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }

  .card:hover {
    box-shadow: 3px 3px 20px 0 #000000;
    transform: translate(-10px, -10px);
  }

  .card .img-description {
    font-size: 14px;
    word-break: break-all;
    text-align: left;
    padding: 50px 10px;
  }

  .card>img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .card:hover>img {
    opacity: 0.1;
    transition: 0.5s ease-in;
  }

  .card:hover .img-description {
    color: black;
    visibility: visible;
    opacity: 1;
  }
}

/* CONTACT */
form {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-weight: bold;
  font-size: 0.75rem;
  width: 93%;
  padding: 12px;
  border: 3px;
  border-radius: 4px;
  margin-top: 1px;
  margin-bottom: 20px;
  resize: vertical;
  white-space: normal;
}

textarea {
  height: 150px;
}

.contact {
  color: white;
  font-size: 0.75rem;
}

.btn2 {
  border: none;

  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.btn2:hover {
  color: rgb(132, 132, 132);
}

@media screen and (min-width: 768px) {

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 70%;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #0f2027;
  padding: 30px;
}

footer a {
  display: flex;
  background-color: #0f2027;
  color: white;
  padding: 1px;
  flex-direction: column;
  text-decoration: none;
  font-size: 0.75rem;
}

footer a:hover {
  color: rgb(216, 214, 213);
}

.rightFooter {
  font-weight: bold;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer a {
    text-align: center;
  }
}

/* CONTACT */

/*==============SCROLLBAR=============*/
/* width */
::-webkit-scrollbar {
  width: 8px;
  background: #020202;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(#bebeb4, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d2951;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d2951;
  background: rgba(13, 41, 82, 0.8);
}

/* =====GALLERY===== */
/* Photographe 1 */

.container-grid {
  height: 70vw;
}

.one {
  padding-top: 80px;
  background: url(https://wallup.net/wp-content/uploads/2018/09/26/240095-shades.jpg) center center / cover no-repeat fixed;
}

.two {
  background: url(https://images.unsplash.com/photo-1569075319321-f73e651c2c7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60) center center / cover no-repeat fixed;
}

.portfolio {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
}

.portfolio img {
  width: 100%;
  height: 100%;
}

.main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
}

.name {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

.cat {
  color: #a7a7a7;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 300;
  font-style: italic;
}

.one .child1 {
  grid-column: span 3;
  grid-row: span 6;
}

.one .child2 {
  grid-column: span 3;
  grid-row: span 3;
}

.one .child3 {
  grid-column: span 3;
  grid-row: span 3;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.infos-txt {
  color: #fff;
  font-weight: lighter;
  font-size: 0.6rem;
  text-align: right;
}

.price,
.where {
  font-style: italic;
}

.price {
  color: #c89446;
  font-weight: 300;
}

.book {
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  color: #c89446;
  text-transform: uppercase;
  transition: 0.3s;
}

.link a:hover {
  color: rgb(216, 214, 213);
}

.desktop-img {
  display: none;
}

/* Photographe 2 */
.two .main-title {
  justify-content: flex-end;
}

.two .child1 {
  grid-column: span 3;
  grid-row: span 3;
}

.two .child2 {
  grid-column: span 3;
  grid-row: span 6;
}

.two .child3 {
  grid-column: span 3;
  grid-row: span 3;
}

.two .infos {
  flex-direction: row-reverse;
}

.two .infos-txt {
  text-align: left;
}

@keyframes opacity-items {
  from {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {

  body,
  html {
    margin: 0;
    padding: 0;
  }

  .desktop-img {
    display: block;
  }

  .portfolio-item {
    background-color: white;
    overflow: hidden;
  }

  .portfolio img {
    display: none;
  }

  .container-grid {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one .portfolio {
    width: 80%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .one .portfolio-item.small-square {
    grid-row: span 1;
    grid-column: span 1;
  }

  .one .portfolio-item.large-square {
    grid-row: span 2;
    grid-column: span 2;
  }

  .one .portfolio-item.tall {
    grid-row: span 2;
    grid-column: span 1;
  }

  .one .portfolio-item.wide {
    grid-row: span 3;
    grid-column: span 3;
  }

  .two .portfolio {
    width: 80%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .two .portfolio-item.small-square {
    grid-row: span 1;
    grid-column: span 1;
  }

  .two .portfolio-item.large-square {
    grid-row: span 2;
    grid-column: span 2;
  }

  .two .portfolio-item.tall {
    grid-row: span 1;
    grid-column: span 1;
  }

  .two .portfolio-item.wide {
    grid-row: span 1;
    grid-column: span 1;
  }

  .two .portfolio-item.last {
    grid-row: span 2;
    grid-column: span 1;
  }
}

@media screen and (min-width: 992px) {

  body,
  html {
    margin: 0;
    padding: 0;
  }

  .desktop-img {
    display: block;
  }

  .one .portfolio-item {
    background-color: white;
    overflow: hidden;
  }

  .container-grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one .portfolio {
    width: 80%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .one .portfolio-item.small-square {
    grid-row: span 1;
    grid-column: span 1;
  }

  .one .portfolio-item.large-square {
    grid-row: span 2;
    grid-column: span 2;
  }

  .one .portfolio-item.tall {
    grid-row: span 2;
    grid-column: span 1;
  }

  .one .portfolio-item.wide {
    grid-row: span 1;
    grid-column: span 3;
  }

  .two .portfolio {
    width: 80%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .two .portfolio-item.small-square {
    grid-row: span 1;
    grid-column: span 1;
  }

  .two .portfolio-item.large-square {
    grid-row: span 2;
    grid-column: span 2;
  }

  .two .portfolio-item.tall {
    grid-row: span 2;
    grid-column: span 1;
  }

  .two .portfolio-item.wide {
    grid-row: span 1;
    grid-column: span 3;
  }
}

@keyframes opacity-items {
  from {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    animation-duration: 0.5s;
    animation-name: opacity-items;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .portfolio {
    animation-duration: 0.5s;
    animation-name: opacity-items;
  }
}

@media screen and (min-width: 992px) {
  .portfolio-item {
    animation-duration: 0.5s;
    animation-name: opacity-items;
  }
}

/* MODALS */

.login-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.login-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 3px;
}

.login-close-button {
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}

.login-close-button:hover {
  opacity: 0.8;
}

.login-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1000;
}

.login-modal-title {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #c1c1c1;
  align-items: center;
}

.login-modal-body {
  padding: 30 0 20 0;
  font-size: 0.9rem;
  text-align: center;
}

.login-modal-body>input {
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  font-weight: normal;
}

.login-modal-footer {
  text-align: center;
}

.login-modal-footer>button {
  border: none;
  border-radius: 3px;
  padding: 15px;
  text-transform: uppercase;
  background: #2c5364;
  color: white;
}


/* Toaster for authentification */

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  top: 150px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 150px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 150px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}