/* RESET CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  font-size: calc(1vw + 0.5em);
}

body {
  line-height: 1.5;
}

a{
  cursor:pointer;
}

/* NAVBAR */
.contactBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(14px + 0.7vw);
  padding: 8px 10px 5px 10px;
  display: flex;
  right: 8px;
  position: fixed;
  z-index: 200;
  cursor: pointer;
  transition: 0.2s linear all;
  background-color: #bc9f55;
  background-color: rgba(187, 158, 84, 0.8);
  color: white;
}

.contactBtn:hover {
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.8);
}

.contactOn {
  transition: 0.2s linear all;
  bottom: 8px;
}

.contactOn:hover {
  background-color: #0d2951;
  transition: 0.2s linear all;
  bottom: 8px;
  color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 10%;
  left: 8px;
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: calc(12px + 0.4vw);
  color: #ffffff;
  display: block;
  transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 50px;
}

.overlay .closebtn:hover {
  transition: 0.2s linear all;
  transform: rotate(360deg);
}

.overlay a:hover {
  color: #bc9f55;
}

@media screen and (min-width: 350px) {
  .overlay {
    max-width: 450px;
  }
}

/* CAROUSEL */
.slides-container{
  position:relative;
}

.slides-img{
  width:100%;
}

.left-arrow,
.right-arrow{
  position:absolute;
  bottom:50%; /* à améliorer, selon que basé sur bottom ou top, plus en haut ou en bas malgré 50%*/
  padding:0 0.5em;
  font-size:3em;
}

.right-arrow{
  right:0;
}

/* CONCEPT */


/* PARTNERS */


/* CONTACT */

