/* RESET CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  font-size: calc(1vw + 0.5em);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

/* NAVBAR */
.contactBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(14px + 0.7vw);
  padding: 8px 10px 5px 10px;
  display: flex;
  right: 8px;
  position: fixed;
  z-index: 200;
  cursor: pointer;
  transition: 0.2s linear all;
  background-color: #bc9f55;
  background-color: rgba(187, 158, 84, 0.8);
  color: white;
}

.contactBtn:hover {
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.8);
}

.contactOn {
  transition: 0.2s linear all;
  bottom: 8px;
}

.contactOn:hover {
  background-color: #0d2951;
  transition: 0.2s linear all;
  bottom: 8px;
  color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 10%;
  left: 8px;
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: calc(12px + 0.4vw);
  color: #ffffff;
  display: block;
  transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 50px;
}

.overlay .closebtn:hover {
  transition: 0.2s linear all;
  transform: rotate(360deg);
}

.overlay a:hover {
  color: #bc9f55;
}

@media screen and (min-width: 350px) {
  .overlay {
    max-width: 450px;
  }
}

/* CAROUSEL */


/* CONCEPT */


/* PARTNERS */


/* CONTACT */


/* GALLERY */
.gallery-container {
  background: #2c5364;
}

.bloc-photograph img {
  width: 100%;
}
.bloc-photograph {
  background: #2c5364;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 47.3% 1fr;
  grid-template-rows: 100% 1fr 1fr auto;
  grid-gap: 10px;
}
.name {
  padding: 20px 20px;
  grid-column-end: span 2;
  color: #FFF;
  background: #0F2027;
}
.photo-item {
  align-self: center;
}
.portrait {
  grid-column-start: 1;
  grid-row-start: span 2;
  align-self: center;
}
.desktop-img {
  display: none;
}
.item2 {
  grid-column-start: 2; 
  grid-row-start: 3;
  flex: wrap;
}

.gallery-info {
  grid-row-start: 4;
  grid-column-start: span 2;
  padding: 15px 15px;
  text-align: right;
  color: #FFF;
  font-weight: lighter;
  font-size: 0.8rem;
  background: #0F2027;
  display: flex;
  justify-content: space-between;
}
.button-book {
  align-self: center;
  max-width: 50px;

}
.book {
  font-size: .8rem;
  padding: 10px;
  color: #FFF;
  background: #0F2027;
  border: 2px solid #FFF;  
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: border .3s;
}
.book:hover {
  border: 2px solid #2c5364;
}
@media screen and (min-width: 768px) {
  .desktop-img {
    display: block;
  }
}